*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #d5e1ef;
    margin: auto;
    padding: 20% 0; 
}
.container{
    width: 100%;
    max-height: 120vh;
    padding-top: 5%;
}
.Qr-card{
    margin: auto;
    max-width: 27%;
    max-height: 100%;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px 14px 25px 14px;
    background-color: #fff;

}
.Qr-box{
    border-radius: 10px;
    background-color: #3181fd;
}
img{
    color: #fff;
    max-width: 70%;
    max-height: 20%;
    margin: 40px;
    padding: 0;
}
.Qr-text{
    text-align: center;
    padding: 0;
}
.heading{
    padding: 15px 0;
}
.Qr-text h3{
    font-weight: bold;
    font-size: medium;
}
.Qr-text small{
    font-size: smaller;
    color: rgb(150, 150, 150);
    padding: 10% 0;
}
/* media queries*/
@media only screen and (max-width: 600px) {
    body{
        background-color: #d5e1ef;
        margin: auto;
        padding: 10% 0; 
    }
    .container{
        padding-top: 10%;
    }

    .Qr-card{
        max-width: 70%;
        max-height: 80vh;
    }
}
@media only screen and (min-width: 600px) {
    body{
        padding: 2% 0; 
    }
    .Qr-card{
        max-width: 60%;
        max-height: 80vh;
    }

     img{
        margin-left: 15%;
     }
}
@media only screen and (min-width: 768px) {
    body{
        background-color: #d5e1ef;
        margin: auto;
        padding: 2% 0; 
    }
    .Qr-card{
        margin: auto;
        max-width: 60%;
        max-height: 120vh;
        border: 2px solid #fff;
        border-radius: 10px;
        background-color: #fff;
    }

     img{
        margin-left: 15%;
     }
}
@media only screen and (min-width: 1200px) {
    body{
        padding-top: 15%; 
    }
    .container{
        padding-top: 0;
    }
    .Qr-card{
        max-width: 23%;
        max-height: 88vh;
    }

     img{
        margin-left: 20%;
        max-width: 60%;
     }
     .Qr-box{

     }
}